.confirmation-page-content {
    background-color: white;
    width: 90vw;
    height: 100%;
    gap: 3rem;
    padding: 160px;
    margin-bottom: 100px;
    border-radius: 4rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    justify-self: center;
}

.confirmation-page-content p {
    font-size: 2rem;
    color: var(--dark-text-color);
}