.autumn-favorites-h1 { /*temp fix, sort out flex-box if time*/
    left: 6vw;
    position: relative;
    color: var(--dark-text-color);
    font-size: 3em;
    z-index: 1;
    top: 350px;
  }

  #page-content-home {
    margin-bottom: 310px;
}