
@import url("./_reset.css");
@import url("./index.css");
@import url("./_variables.css");
@import url("./products.css");
@import url("./product-details.css");
@import url("./checkout.css");
@import url("./confirmation.css");


/*GLOBAL STYLES*/

body {
  color: var(--bright-text-color);
  background-color: var(--background-color);
  background-image: url('images/body-background.jpg');
  overflow-x: hidden;
  font-family: unbounded, sans-serif;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Viktig! */
  margin: 0;
}
main {
  flex: 1;
}

footer {
  background-color: var(--dark-text-color);
  color: var(--bright-text-color);
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 80px;
}

p, h1, h2, h3 {
  padding: 0 2rem;;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

h1 {
  color: var(--dark-text-color);
  font-size: 3em;
}

h2 {
  color: var(--red-text-color);
}

ul {
  list-style-type: none;
}

/*HEADER*/

.header {
  position: sticky;
  top: -0px;
  height: 400px;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.main-header-menu {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: 400px;
  width: 100vw;
  top: -16px;
  position: absolute;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}

.main-header-menu a {
  color: var(--bright-text-color);
  text-decoration: none;
  padding: 0 1rem;
  font-size: 2em;
  font-weight: 400;
}

.main-header-menu .logo { 
  width: 8em;
  margin-top: 30px;
  filter: 
  brightness(0)
  invert(1)      
  sepia(1)    
  saturate(1000%)
  hue-rotate(180deg)
  brightness(1.2);
}
.main-header-menu .header-menu-text {
  position: relative;
  top: 7rem;
}

.user-actions {
  position: absolute;
  top: 2vh;
  right: 1vw;
  display: flex;
  font-size: 1.5rem;
}

/*PAGE CONTENT*/

.page-content {
  position: relative;
  display: flex;
  justify-self: center;
  align-self: center;
  flex-wrap: wrap;
  background-color: white;
  width: 90vw;
  height: 100%;
  gap: 3rem;
  top: 200px;
  padding-top: 160px;
  justify-content: flex-start;
  border-radius: 4rem;
}

/*PRODUCT CARDS*/

.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
  background-color: var(--bright-text-color);
}

.product-image {
  width: 100%; /* Matcher containeren */
  height: auto; /* Fast høyde eller auto */
  object-fit: cover; /* Fyller området pent */
  border-radius: 8px;
}

.product-image:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  margin-bottom: 4rem;
  object-fit: cover;
  height: 100px;
}

.card-price {
  color: var(--dark-text-color);
  font-size: 1.5rem;
}

.add-to-cart {
  background-color: var(--bright-text-color);
  color: var(--dark-text-color);
  stroke: 1rem solid var(--dark-text-color);
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  font-size: 1.5rem;
  position: relative;
}


/* Dette lå her fra før av

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}
  */